<select onchange="if (this.value != '') { window.location = this.value; }">
    <option selected="selected">Jump to a project</option>
    <option disabled="disabled">---</option>
    {% for project in projects %}
        <option value="{{ project.id }}">{{ project.name()}}</option>
    {% endfor %}
</select>